{% load staticfiles %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h1>Try MyBlog!</h1>
        <p>You can write your memories, stories and wishes into this blog.</p>
        <p>Start writing</p>
        <p>
        {% if not user.is_authenticated %}
          <a class="btn btn-lg btn-primary" href="accounts/register/" role="button">Join Us&raquo;</a>
        {% else %}
          <a class="btn btn-lg btn-primary" href="add/"role="button">Create your first Post&raquo;</a>
        {% endif %}
        </p>
      </div>
      <div class=" col-md-6 col-sm-6 col-xs-12">
      <div class="elastic-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/CW006rg_D28" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
  </div>
</div>
