{% extends "base.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}

{% block head_title %}Welcome | {{ block.super}}{% endblock head_title%}
      {% block jumbotron %}

      {% endblock jumbotron %}
 {% block content %}
    <div class='row' style="clear:both;">
    </div>

	<div class="row" style="margin-top:60px;">
	<div class="col-sm-8 col-sm-offset-2" >

	  <h2><a href="{{ instance.get_absolute.url }}">{{ instance.title }}</a></h2>
	  <p class="meta">{{ instance.created|timesince }} ago</p>
	  {% include "sharelinks.html" %}


	  {% if instance.image %}
	            <img src='{{ instance.image.url }}' class='img-responsive blog-picture' />
	  {% endif %}
	  </p>
	  <p>{{ instance.body|markdown }}</p>
        <div class="elastic-video" style="margin:40px;">
        {% if instance.video %}
        {% video instance.video as my_video %}
            {% video my_video 'small' %}
        {% endvideo %}
        {% endif %}
         </div>
	  <a class="btn btn-primary btn-primary pull-right" href="{% url 'blog_edit' id=instance.id %}"><span class="glyphicon glyphicon-pencil"></span></a><br><br>
	  <hr>
	  <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="3"></div>

	  </div>
	  </div>

 {% endblock content %}