<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a> |


<a href="https://twitter.com/home?status=Visit+MyBlog%21+{{ request.build_absolute_uri }}">
Twitter
</a> |

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Visit+MyBlog%21+&summary=Visit+MyBlog%21+!&source={{ request.build_absolute_uri }}">
Linkedin
</a> |


<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title=Visit+MyBlog%21+">Reddit</a>